<div class="row">
  <div class="col-md-2 col-md-offset-5" ng-show="!$ctrl.showSignup">
    <form>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Benutzername" ng-model="$ctrl.username">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" placeholder="Passwort" ng-model="$ctrl.password">
      </div>

      <!-- login button -->
      <button id="login-button" type="button" class="btn btn-default" ng-click="$ctrl.onLogin()" ng-disabled="$ctrl.loginButtonIsDisabled()">Anmelden</button>

      oder
      <!-- signup button -->
      <button type="button" class="btn btn-default btn-sm" ng-click="$ctrl.showSignup = true">Registrieren</button>

      <span ng-show="$ctrl.username && $ctrl.password && $ctrl.errorMsg" class="text-danger">{{ $ctrl.errorMsg }}</span>

    </form>
  </div>

  <div class="col-md-2 col-md-offset-5" ng-show="$ctrl.showSignup">
    <form>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Benutzername" ng-model="$ctrl.username">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" placeholder="Passwort" ng-model="$ctrl.password">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" placeholder="Passwort bestätigen" ng-model="$ctrl.passwordConfirm" ng-change="$ctrl.onPasswordConfirm()">
      </div>
      <button id="signup-button" type="button" class="btn btn-default" ng-click="$ctrl.onSignup()" ng-disabled="$ctrl.submitButtonIsDisabled()">Registrieren</button>
      <span ng-show="$ctrl.errorMsg" class="text-danger">{{ $ctrl.errorMsg }}</span>
    </form>

    <!-- back button -->
    <button type="button" class="btn btn-default btn-sm" ng-click="$ctrl.showSignup = false">back</button>
  </div>
</div>
