@font-face {
    font-family: 'mdigital';
    src: url('fonts/mdigitalread10-Medium.eot');
    src: url('fonts/mdigitalread10-Medium.eot?#iefix') format('embedded-opentype'),
         url('fonts/mdigitalread10-Medium.woff2') format('woff2'),
         url('fonts/mdigitalread10-Medium.woff') format('woff');
      
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,300,500,700,400italic,500italic,700italic,300italic,100italic,100');


* {
  font-family: 'Roboto Mono';
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0;
  color: #1f1f1f;
  border-radius: 0 !important;
  margin: 0;
  padding: 0;
}

.btn-default {border: none; background: none; padding: 5px 10px 5px 10px; color: #1f1f1f;}
.line {width: 10px; height: 1px; background: black; display: block; margin-bottom: 2px;}


/* Code Mirror */
.CodeMirror {background: none; padding: 0 20%;}
.CodeMirror-scroll {overflow: hidden !important;}
.CodeMirror-cursor {border-left: 3px solid red; height: 12px;}
.cm-s-default .cm-header {color: black; font-weight: bold; letter-spacing: 0; }
.cm-markdown-definition {color: tomato;}

.cm-header-1 {}
.cm-header-2 {font-style: italic;}

/* Bootstrap */


/* lists */
.listcontainer {width: 700px;}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.container {width: 100%; padding: 0; margin: 0;}

body {
  padding: 0;
  height: 100%;
  background: #f9f9f9;
}

#editor-title {
  padding-top: 10px;
  width: 850px;
  opacity: 0;
}

#editor-title:hover {opacity: 1;}

#editor-tools {
  padding: 10px 20%;
  height: 50px;
  font-family: "Roboto";
}

#editor-tools button, #editor-tools a {
  font-family: "Roboto";
  letter-spacing: 0.03em;
}

#editor-tools:hover {
  opacity: 1 !important;
}

.btn-sm {font-size: 14px;}



#title-placeholder {
  padding-top: 10px;
}

.dropup-button {
	float: left;
	margin-left: 4px;
}

.CodeMirror {
	/*height: 450px;*/
  height: auto;
}

#editor-panel {
	padding: 10px;
}

.file-links {
	margin-left: 5px;
}

.save-text {
  color: gray;
  margin-left: 5px;
}

.file-group {
  margin-top: 10px;
}

.titles {
  color: black;
  text-decoration: none;

}

.titles:hover {
  color: black;
  text-decoration: none;
}

.list-group-item:hover {
  background-color: gray;
}

.file {
  list-style: none;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid #ddd;
}

.file:hover {
  background-color: #f6f6f6;
}

.nano { 
  height: 400px; 
  width: 100%; 
}
.nano .nano-content { 
  padding-right: 10px; 
}
.nano .nano-pane   { 
  background: ghostwhite; 
  right: 10px;
}
.nano .nano-slider { 
  background: #111; 
}

.nano .nano-pane .nano-slider {
  background: black;
}

#create-new {
  cursor: pointer;
}

select.btn-mini {
    height: auto;
    line-height: 14px;
}

.files-top {
  padding-top: 10px;
}

.nano.definitons-table {
  width: 420px;
}

.map {
    height: 400px;
    width: 100%;
}

#mapid { 
  height: 180px; 
}

a[ng-click]{
    cursor: pointer;
}

img {background: none;}

.row {margin: 0;}

#maus, #maustext {position: absolute; bottom: 50px; left: 50%; margin-left: -40px; width: 80px;}
#maustext {bottom: 20px; width: 200px; margin-left: -100px; text-align: center; font-size: 12px; display: none;}