.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  height: 100%;
}

.editor-tools {
    margin-right: 10px;
}

.dropup-button {
	float: left;
	margin-left: 4px;
}

.CodeMirror {
	/*height: 450px;*/
}

#editor-panel {
	padding: 10px;
}

.file-links {
	margin-left: 5px;
}

.save-text {
  color: gray;
  margin-left: 5px;
}

.file-group {
  margin-top: 10px;
}

.titles {
  color: black;
  text-decoration: none;

}

.titles:hover {
  color: black;
  text-decoration: none;
}

.list-group-item:hover {
  background-color: gray;
}

.file {
  list-style: none;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid #ddd;
}

.file:hover {
  background-color: #f6f6f6;
}



.nano { height: 200px; width: 200px; }

.nano.preview { height: 600px; width: 800px; }
.nano.editor { height: 600px; width: 800px; }

.nano .nano-content { padding: 10px; }
.nano .nano-pane   { background: ghostwhite; }
.nano .nano-slider { background: #111; }



