h1 {
    color: red;
}

.story {
    background-color: orange;
}

.links-table {
    background-color: blue;
}

.definitions-table {
    background-color: yellow;
}

.images-table {
    background-color: fuchsia;
}

figure {
	background-color: seagreen; 
}

img {
	background-color: lime; 
}

figcaption {
	background-color: palegreen;
}