h1 {
    /*color: red;*/
}

h1.page-title {
    font-weight: bold;
}

.story {
    background-color: aliceblue;
}

.links-table {
    background-color: aliceblue;
}

.definitions-table {
    background-color: aliceblue;
}

.images-table {
    background-color: aliceblue;
}

.headings-table {
    background-color: aliceblue;
}

figure {
	/*background-color: seagreen;*/
}

img {
	background-color: aliceblue; 
}

figcaption {
	background-color: aliceblue;
}

a.definition {
	background-color: aliceblue;
}

li.seperator {
    list-style: none;
    border: solid 1px;
    opacity: 0.2;
}

.map {
    height: 400px;
    width: 100%;
}

a.definition {
    /*pointer-events: none;*/
    cursor: help;
}
