{
  "env": {
    "es6": true,
    "node": true,
    "mocha": true
  },
  "extends": "standard",
  "plugins": [
    "standard",
    "promise",
    "mocha",
    "angular"
  ],
  "rules": {
    "mocha/no-exclusive-tests": "error"
  }
}
