  <table class="filegroup nomargin fullwidth">
    <colgroup>
      <col span="1" style="width: 5%;">
      <col span="1" style="width: 10%;">
      <col span="1" style="width: 70%;">
      <col span="1" style="width: 5%;">
      <col span="1" style="width: 5%;">
      <col span="1" style="width: 5%;">

    </colgroup>
      <thead>
        <tr class="noborder">
          <th></th>
          <th>Shortcut</th>
          <th>Text</th>
          <th>Author</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
    </table>

  <scrollable>
    <table class="filegroup nomargin fullwidth browser"  ng-init="initResizable()">
      

       <thead>
        <tr class="noborder">
          <th></th>

          <!-- Erste Spalte -->
          <!--<th ng-show="file.type === 'opMainzed'">Shortcut</th>-->
          <th>Shortcut</th>

          <th>Definition</th>
          <!--<th ng-show="file.type !== 'opMainzed'">Source</th>-->
          <th>Source/Author</th>
          <th>Website</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <!--<tr ng-repeat="definition in definitions | filter:{ filetype: file.type }| filter:filterBox | orderBy: '-updated_at'">-->
        <tr ng-repeat="definition in definitions | filter: {category: category, filetype: file.type} | filter:filterBox |  orderBy: '-updated_at'">
          <td>
            <a ng-click="closeThisDialog(); addDefinition(definition)" class="choose">
              <i class="fa fa-play" aria-hidden="true"></i>
            </a>
          </td>
          <td>
            <!-- new definition -->
            <textarea ng-show="showNewFocus && $index === 0 && !definition._id" type="text" placeholder="Word" ng-model="definition.word" class="form-control" ng-blur="showNewFocus = false" focus-on-visibility></textarea>

            <!-- existing definition -->
            <ms-table-input ng-show="!showNewFocus || $index > 0 || definition._id" ng-model="definition.word"></ms-table-input>
          </td>

          <td>
            <ms-table-input ng-model="definition.text"></ms-table-input>
          </td>

          <td>
            <input type="text" placeholder="Source" ng-model="definition.author" ng-class="authorClass" ng-init="authorClass = ['def-table-entries']" ng-blur="authorClass = ['def-table-entries']" ng-focus="authorClass = ['form-control']" ng-change="onDefinitionChange()">
          </td>

          <td>
            <input type="text" placeholder="Website" ng-model="definition.url" ng-class="urlClass" ng-init="urlClass = ['def-table-entries']" ng-blur="urlClass = ['def-table-entries']" ng-focus="urlClass = ['form-control']" ng-change="onDefinitionChange()">
          </td>

          <!-- remove -->
          <td ng-show="definition._id">
            <button type="button" class="btn btn-default" ng-click="onRemoveDefinitionClick(definition._id)">
              <span class="icon-trash"></span>
            </button>
          </td>

        </tr><!-- end repeat -->

      </tbody>
    </table>
  </scrollable>
