<div ng-init="getDefinitions()">
  <h3>Available Definitions</h3>
  <ul ng-repeat="definition in definitions"> 
    <li><button class="btn btn-link" ng-click="closeThisDialog(); addDefinition(definition)">{{ definition.word }}</button></li>
  </ul>
</div>

<!--<div class="list-group file-group" ng-init="getDefinitions()">
  <button type="button" class="list-group-item" ng-repeat="definition in definitions" ng-click="closeThisDialog(); addDefinition(definition)">
    {{ definition.word }}
  </button>
</div>-->

<button class="btn btn-default btn-sm" ng-click="onDefinitionsEditClick(); closeThisDialog()">edit</button>
