<form>
  <div class="form-group">
    <label for="exampleInputEmail5">Author</label>
    <input type="text" class="form-control" id="exampleInputEmail5" placeholder="Author" ng-model="newFile.author">
  </div>

  <div class="form-group">
    <label for="exampleInputPassword1">Title</label>
    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Title" ng-model="newFile.title">
  </div>
  <button type="submit" class="btn btn-primary" ng-disabled="!newFile.title || !newFile.author" ng-click="onCreateConfirm() || closeThisDialog()">Create</button>
</form>
