
<span class="tableheader">Definitions</span>
<div class="container" ng-init="getDefinitions()">

  <!-- search box -->
  <input type="search" class="form-control definitionsearch" placeholder="Search by Word" ng-model="filterBox">

  <table class="filegroup nomargin fullwidth">
    <colgroup>
      <col span="1" style="width: 5%;">
      <col span="1" style="width: 20%;">
      <col span="1" style="width: 45%;">
      <col span="1" style="width: 15%;">
      <col span="1" style="width: 10%;">
      <col span="1" style="width: 5%;">
    </colgroup>
      <thead> 
        <tr class="noborder"> 
          <th></th>
          <th>Word</th>
          <th>Definition</th>
          <th>Source</th>
          <th>Website</th>
          <th></th>
        </tr> 
      </thead> 
    </table> 

  <scrollable>
    <table class="filegroup nomargin fullwidth">
       <colgroup>
        <col span="1" style="width: 5%;">
        <col span="1" style="width: 20%;">
        <col span="1" style="width: 45%;">
        <col span="1" style="width: 15%;">
        <col span="1" style="width: 10%;">
        <col span="1" style="width: 5%;">
      </colgroup>
      

      <tbody> 

        <tr ng-repeat="definition in definitions | filter:filterBox | orderBy: '-updated_at'"> 
          <td>
            <a ng-click="closeThisDialog(); addDefinition(definition)" class="choose">
              <span class="icon-enter"></span>
            </a>
          </td>
          <td>
            
            <!-- first column -->
            <span ng-hide="$index === 0 && createdNew" class="clickspan" ng-blur="authorClass = ['def-table-entries']" ng-show="!showWord" ng-click="showWord = true; onTextareaChange()">{{ definition.word }}</span> 
              
            <textarea ng-show="showWord || ($index === 0 && createdNew)" type="text" placeholder="Word" ng-model="definition.word" class="form-control" focus-on-visibility></textarea>

          </td> 

          <td>
            <span class="clickspan" ng-blur="authorClass = ['def-table-entries']" ng-show="!showText" ng-click="showText = true; onTextareaChange()">{{ definition.text }}</span> 
           


            <textarea ng-show="showText" type="text" placeholder="Definition" ng-model="definition.text" class="form-control" focus-on-visibility></textarea>


          </td>

          <td>
            <input type="text" placeholder="Source" ng-model="definition.author" ng-class="authorClass" ng-init="authorClass = ['def-table-entries']" ng-blur="authorClass = ['def-table-entries']" ng-focus="authorClass = ['form-control']" ng-change="onDefinitionChange()">
          </td>

          <td>
            <input type="text" placeholder="Website" ng-model="definition.url" ng-class="urlClass" ng-init="urlClass = ['def-table-entries']" ng-blur="urlClass = ['def-table-entries']" ng-focus="urlClass = ['form-control']" ng-change="onDefinitionChange()">
          </td>

          <!-- remove -->
          <td>
            <button type="button" class="btn btn-default" ng-click="onDeleteDefinitionClick(definition._id)">
              <span class="icon-trash"></span>
            </button>
          </td>

        </tr><!-- end repeat -->
        
        

      </tbody> 
    </table>
  </scrollable>
 
  <div class="toolbarrelative">
  <div class="toolbar">
    <!--<button class="btn btn-default btn-sm" ng-click="onApplyDefinitionChanges()" ng-disabled="!hasChanges">apply changes</button>-->
    <button class="btn btn-default btn-sm" ng-click="onCreateDefinitionClick(); createdNew = true">create new</button>
  </div>
  </div>
</div>
