<form ng-init="getFile()">

  <!--<div class="form-group">
    <label for="authorInput">Author</label>
    <input type="text" class="form-control" id="authorInput" placeholder="Author" ng-model="file.author" readonly>
  </div>-->

  <div class="form-group">
    <label for="titleInput">Title</label>
    <input type="text" class="form-control" id="titleInput" placeholder="Title" ng-model="file.title">
  </div>

   <div class="form-group">
    <label for="typeInput">Type</label>
    <select class="form-control" id="typeInput" ng-model="file.type">
      <option ng-repeat="filetype in filetypes" value="{{filetype.type}}">{{ filetype.displayname }}</option>
    </select>
  </div>

  <!-- private checkbox -->
  <div class="form-group">
    <label class="checkbox-inline"><input type="checkbox" ng-model="file.private">Private</label>
  </div>

  <!-- save button -->
  <button type="submit" class="btn  btn-sm center-block bluebutton" ng-disabled="!file.title || !file.author || !file.type" ng-click="onSaveClick(file) || closeThisDialog()">
    Save
  </button>


</form>
