<h3>Users</h3>
<div class="container" ng-init="getUsers()">

    <div ng-repeat="user in users">
        username: {{ user.username }}

        <!-- group selection  dropdown -->
        <div class="form-group">
          <label for="userGroupSelect">Group</label>
          <select class="form-control" id="userGroupSelect" ng-model="user.group" ng-change="onUserChange(user)">
            <option>admin</option>
            <option>user</option>
          </select>
        </div>

        <button type="button" class="btn btn-default" ng-click="onDeleteUserClick(user._id)" ng-disabled="user.username === currentUser.name">delete</button>

    </div>

</div>
