<div class="row">
    <div class="col-md-1"
        <h3>Preview</h3>
    </div>
<!--
<button>800 x 600</button>
<button>1024 x 700</button>
<button>1920 x 1200</button>
-->


<!--<scrollable>
  <div ng-bind-html="html"></div>
</scrollable>-->
    <div class="col-md-3">
        <!--<button type="button" class="btn btn-default" ng-click="dialogClass = 'ngdialog-theme-default preview-mobile'; desktopButtonDisabled = true" ng-disabled="desktopButtonDisabled" ng-init="desktopButtonDisabled = true">Desktop</button>-->
        <!--<button type="button" class="btn btn-default" ng-click="closeThisDialog(); openMobilePreview()" ng-show="">Mobile</button>-->
    </div>
</div>

<iframe src="{{ previewPath }}" class="preview"></iframe>
