<form>

  <!--<div class="form-group">
    <label for="authorInput">Author</label>
    <input type="text" class="form-control" id="authorInput" placeholder="Author" ng-model="newFile.author" readonly ng-init="newFile.author = currentUser.name">
  </div>-->

  <div class="form-group">
    <label for="titleInput">Title</label>
    <input type="text" class="form-control" id="titleInput" placeholder="Title" ng-model="newFile.title">
  </div>

  <div class="form-group">
    <label for="typeInput">Type</label>
    <select class="form-control" id="typeInput" ng-model="newFile.type" ng-init="newFile.type = 'opOlat'">
      <option ng-repeat="filetype in filetypes" value="{{filetype.type}}">{{ filetype.displayname }}</option>
    </select>
  </div>

  <!-- public checkbox -->
  <div ng-init="newFile.public = false">
    <ms-checkbox ng-model="newFile.public"></ms-checkbox> Public
  </div>

  <button type="submit" class="btn btn-default center-block bluebutton" ng-disabled="!newFile.title || !currentUser" ng-click="onCreateConfirm() || closeThisDialog()">
    Create
  </button>

</form>
