<form>
  
  <!--<div class="form-group">
    <label for="authorInput">Author</label>
    <input type="text" class="form-control" id="authorInput" placeholder="Author" ng-model="newFile.author" readonly ng-init="newFile.author = currentUser.name">
  </div>-->

  <div class="form-group">
    <label for="titleInput">Title</label>
    <input type="text" class="form-control" id="titleInput" placeholder="Title" ng-model="newFile.title">
  </div>

   <div class="form-group">
    <label for="typeInput">Type</label>
    <select class="form-control" id="typeInput" ng-model="newFile.type" ng-init="newFile.type = 'opOlat'">
      <option value="opOlat">OLAT</option>
      <option value="opMainzed">Mainzed Jahresbericht</option>
      <option value="prMainzed">Mainzed Presentation</option>
      <!--<option value="prI3mainz">i3mainz Presentation</option>-->
    </select>
  </div>

  <!-- private checkbox -->
  <div class="form-group">
    <label class="checkbox-inline"><input type="checkbox" value="" ng-model="newFile.private" ng-init="newFile.private = true">Private</label>
  </div>

  <button type="submit" class="btn btn-primary" ng-disabled="!newFile.title || !currentUser" ng-click="onCreateConfirm() || closeThisDialog()">Create</button>
</form>
