
<form ng-init="addTitle = true; addContentTable = true; addImages = true; addLinks = true; addDefinitions = true">
  <div class="form-group">
    <label for="inputTitle">Filename</label>
    <input type="text" class="form-control" id="inputTitle" placeholder="export.html" ng-model="filename">
  </div>

  <div class="checkbox">
    <label>
      <input type="checkbox" ng-model="addTitle"> Add Title
    </label>
  </div>

  <div class="checkbox">
    <label>
      <input type="checkbox" ng-model="addContentTable"> Add Table of Content
    </label>
  </div>

  <div class="checkbox">
    <label>
      <input type="checkbox" ng-model="addImages"> Add Table of Images
    </label>
  </div>

  <div class="checkbox">
    <label>
      <input type="checkbox" ng-model="addLinks"> Add Table of Links
    </label>
  </div>

  <div class="checkbox">
    <label>
      <input type="checkbox" ng-model="addDefinitions"> Add Table of Definitions
    </label>
  </div>

  <button type="button" class="btn btn-default" ng-click="onDownloadConfirm(filename, addTitle, addContentTable, addImages, addLinks, addDefinitions) || closeThisDialog()" ng-disabled="!filename">Export</button>

</form>