



<!--<button class="btn btn-default btn-sm" ng-click="onDefinitionsEditClick(); closeThisDialog()">edit</button>-->

<!--<div ng-hide="editMode">
  <h4>Definitions</h4>

  <input type="text" class="form-control" placeholder="Filter by Name" ng-model="filterBox">

  <scrollable class="definitons-table">
    <table class="table filegroup fullwidth" ng-init="getDefinitions()"> 
      <tbody> 
        <tr ng-repeat="definition in definitions | filter: { word: filterBox }"> 
          <td>
            <a ng-click="closeThisDialog(); addDefinition(definition)" data-toggle="tooltip" title="Insert this definition">
              {{ definition.word }}
            </a>
          </td> 

        </tr> 

      </tbody> 
    </table>
  </scrollable>
  <button class="btn btn-default btn-sm toolbar" ng-click="onDefinitionCreateClick()">
    Bearbeiten
  </button>
</div>-->

<!-- show when clicked edit -->
<!--<form ng-show="editMode">
  <div class="form-group">
    <label for="exampleInputEmail5">Word</label>
    <input type="text" class="form-control" id="exampleInputEmail5" placeholder="Word" ng-model="definition.word">
  </div>

  <div class="form-group">
    <label for="exampleInputEmail1">Definition</label>
    <textarea class="form-control" rows="3" placeholder="Definition" ng-model="definition.text" required></textarea>
  </div>

  


  <div class="form-group">
    <label for="exampleInputPassword1">Source</label>
    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Source" ng-model="definition.author">
  </div>

  <div class="form-group">
    <label for="exampleInputPassword1">Website</label>
    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Website" ng-model="definition.url">
  </div>
  
  <button type="submit" class="btn btn-default" ng-click="onDefinitionSaveClick(definition)" ng-disabled="!definition.word">Save</button>

</form>-->

<h3>Definitions</h3>
<div class="container" ng-init="getDefinitions()">

  <!-- search box -->
  <input type="search" class="form-control" placeholder="Search" ng-model="filterBox">

  <table class="table">
    <thead> 
      <tr> 
        <th>Word</th>
        <th>Definition</th>
        <th>Source</th>
        <th>Website</th>
      </tr> 
    </thead> 

    <tbody> 
      <tr ng-repeat="definition in definitions | filter:filterBox"> 
        <td>
          <button type="button" class="btn btn-default" ng-click="closeThisDialog(); addDefinition(definition)">
            {{ definition.word }}
          </button>


        </td> 

        <td>
          <input type="text" class="form-control" placeholder="Definition" ng-model="definition.text" ng-class="activeForm" ng-dblclick="activeForm = ['form-control']" ng-readonly="!activeForm">
        </td>

        <td>
          <input type="text" class="form-control" placeholder="Definition" ng-model="definition.author" ng-class="activeForm" ng-dblclick="activeForm = ['form-control']" ng-readonly="!activeForm">
        </td>

        <td>
          <input type="text" class="form-control" placeholder="Definition" ng-model="definition.url" ng-class="activeForm" ng-dblclick="activeForm = ['form-control']" ng-readonly="!activeForm">
        </td>

      </tr> 
    </tbody> 
  </table>

  <button class="btn btn-default btn-sm" ng-click="onApplyDefinitionChanges()">apply changes</a>
  <button class="btn btn-default btn-sm" ng-click="onCreateDefinitionClick()">create new</a>
</div>
