<div class="toolbarwrapper">

  <!-- home button -->
  <button class="btn btn-default btn-sm home" ng-click="onFilesClick()">
     <i class="fa fa-angle-left"></i>
     <span class="iconlabel">Dateiübersicht</span>
  </button>


  <div id="editor-tools" class="toolbar autowidth center">
        
    <!-- undo and redo buttons -->
    <div class="btn-group" role="group"> 
      <button class="btn btn-default btn-sm" data-toggle="tooltip" title="Undo (Ctrl + Z)" ng-click="onUndoClick()">
        <i class="fa fa-undo"></i>
      </button>
      <button class="btn btn-default btn-sm" ng-click="onRedoClick()" data-toggle="tooltip" title="Redo">
        <i class="fa fa-repeat"></i>
      </button>
    </div>
    
    <!-- help button-->

    <button href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" target="_blank" class="btn btn-default btn-sm nav-link" role="button" data-toggle="tooltip" title="Markdown Help">
        Spickzettel
    </button>
    
    
    <!-- image, links & storyscript buttons -->
    <div class="btn-group marginleft" role="group"> 
      
      <!-- image button -->
      <button ng-show="isValidToolForType(file.type, 'imagetag')" class="btn btn-default btn-sm" ng-click="onImageClick()" data-toggle="tooltip" title="Insert Image (Ctrl + I)">
        Bild
      </button>

      <!-- definition-button -->
      <button class="btn btn-default btn-sm" ng-click="onDefinitionClick()">
        Glossareintrag
      </button>

      <!-- link button -->
      
      <button ng-show="isValidToolForType(file.type, 'linktag')" class="btn btn-default btn-sm" ng-click="onLinkClick()" data-toggle="tooltip" title="Ctrl + L">
        Link
      </button>

      <!-- storyscript button -->
      <button ng-show="isValidToolForType(file.type, 'storytag')" class="btn btn-default btn-sm" ng-click="onStoryScriptClick()" data-toggle="tooltip" title="Insert Storytag">
        Story
      </button>
    </div>
    
    <!-- export -->
    <button class="btn btn-default btn-sm marginleft" ng-click="onExportClick()">
        Export
    </button>

    <!-- preview button -->
    <button ng-disabled="file.type !== 'opOlat'" class="btn btn-default btn-sm" ng-click="onPreviewClick()" ng-disabled="editor.getValue().length < 1">
        Preview
    </button>

    <!-- save button -->
    <div class="btn-group" role="group"> 
      <button class="btn btn-default
       btn-sm pull-right" ng-click="onSaveClick()" data-toggle="tooltip" title="Save (Ctrl + S)" ng-disabled="!unsavedChanges">
        Speichern
      </button>
    </div>
    <span class="save-text" ng-show="showSuccess === true">... saved!</span>
    <span class="save-text" ng-show="showError === true">... someting went wrong!</span>

  </div>

  <!-- filename -->
  <span class="filename grotesk">{{ file.title }} ({{ file.type }})</span>

</div>