
<form ng-init="includeTable = true; addTitle = true">
  <div class="form-group">
    <label for="inputTitle">Filename</label>
    <input type="text" class="form-control" id="inputTitle" placeholder="export.html" ng-model="filename">
  </div>

  <div class="checkbox">
    <label>
      <input type="checkbox" ng-model="addTitle"> Add Title
    </label>
  </div>

  <div class="checkbox">
    <label>
      <input type="checkbox" ng-model="includeTable"> Add Table of Content
    </label>
  </div>

  <button type="button" class="btn btn-default" ng-click="onDownloadConfirm(filename, addTitle, includeTable) || closeThisDialog()" ng-disabled="!filename">Export</button>

</form>