<table class="filegroup olat">
   <colgroup>
       <col span="1" style="width: 60%;">
       <col span="1" style="width: 20%;">
       <col span="1" style="width: 5%;">
       <col span="1" style="width: 15%;">
    </colgroup>
  <tr>
    <td class="tableheader">
      <span ng-show="currentFileType === 'OLAT'">OLAT</span>
      <span ng-show="currentFileType === 'presentation'">Mainzed Presentation</span>
      <span ng-show="currentFileType === 'opMainzed'">Mainzed Jahresbericht</span>
    </td>
  </tr>
  <tr ng-repeat="file in files | orderBy: 'updated_at':false | filter: {type: currentFileType}" ng-if="currentUser === file.author || currentUser !== file.author && !file.private" class="file">
    <td class="colfilename">
      <a ng-href="#/editor/{{file._id}}">
        <!--<img src="/images/infinity.png" />-->
        <!--<img ng-show="file.type === 'OLAT'" src="/images/infinite.svg" />-->
        <strong>{{ file.title }}</strong>
      </a><!--({{ file.type }})-->
    </td>
    <td>
      {{ file.author }}
    </td>
    <td>  

     <td class="colfilestate">
      <i ng-show="file.private" class="fa fa-lock" aria-hidden="true"></i>
      <!--<i ng-show="!file.private" class="fa fa-globe" aria-hidden="true"></i>-->
    </td> 
    <td> 

    <div class="dropdown pull-right">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
      </button>
      
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">

      <!-- download -->
      <li>
        <a ng-href="#" target="_self" class="" ng-click="onDownloadClick(file._id)" data-toggle="tooltip" title="Download Markdown">
          Download
       </a>
      </li>

      <!-- history -->
      <li>
        <a ng-href="#/history/{{file._id}}" target="_self" class="" data-toggle="tooltip" title="Show History">
          Frühere Versionen
         </a>
      </li>


      <!-- edit -->
      <li>
        <a class="" ng-click="onEditClick(file._id)" data-toggle="tooltip" title="File Settings">
          Editieren
        </a>
      </li>
       
      </ul>
    </div>
    </td>

  </tr>

</table>