
<!-- search box -->
<input type="search" placeholder="Search" ng-model="filesFilterBox">

<!-- show currently active filter -->
<ms-filter-button></ms-filter-button>

<div ng-repeat="(key, value) in files | filter: filesFilterBox | groupBy: 'type'" ng-show="groupHasValidFiles(key)">

  <!-- custom section names -->
  <span class="tableheader">{{ getName(key) }}</span>

  <table class="filegroup">
    <colgroup>
      <col span="1" style="width: 60%;">
      <col span="1" style="width: 15%;">
      <col span="1" style="width: 10%;">
      <col span="1" style="width: 5%;">
      <col span="1" style="width: 10%;">
    </colgroup>


    <!-- only show documents of the current user or documents that are not private and nd are in the same group -->
    <tr ng-repeat="file in value | filter:currentFilter | orderBy:'-updated_at'" ng-show="file.author.toLowerCase() === currentUser.name.toLowerCase() || file.private === false">
      <td class="colfilename">
        <a ng-href="#/editor/{{file._id}}">
          <!--<span ng-show="file.active" class="active-file" style="color: red;">{{ file.active }}</span> -->{{ file.title }} 
        </a>
      </td>

      <td>
        <button type="button" class="btn btn-link" ng-click="setFilter({ updated_at: file.updated_at })" ng-disabled="currentFilter['updated_at']">
          {{ getFormattedDate(file.updated_at) }}
        </button>
      </td>

      <td>
        <button ng-show="file.author === currentUser.name" type="button" class="btn btn-link" ng-click="setFilter({ author: file.author })" ng-disabled="currentFilter['author']">
          {{ "me" }}
        </button>
        <button ng-show="file.author !== currentUser.name" type="button" class="btn btn-link" ng-click="setFilter({ author: file.author })" ng-disabled="currentFilter['author']">
          {{ file.author.toLowerCase() }}
        </button>
      </td>

      <td class="colfilestate">
        <button type="button" class="btn btn-link" ng-click="setFilter({ private: true })" ng-disabled="currentFilter['private']">
          <i ng-show="file.private" class="fa fa-lock icon-locked" aria-hidden="true" data-toggle="tooltip" title="Private Document. Not visible to other users!"></i>
        </button>
      </td>

      <td>

        <div class="dropdown pull-right" ng-init="checkIfArchivedFiles(file._id)"> <!-- check if archived verions exist -->
          <button ng-disabled="file.type === 'news' && currentUser.group !== 'admin'" class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
          </button>

          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">

            <!-- download -->
            <li>
              <a ng-href="#" target="_self" class="" ng-click="onDownloadClick(file._id)" data-toggle="tooltip" title="Download Markdown">
                Download
             </a>
            </li>

            <!-- history, show only if exists -->
            <li ng-show="hasArchived.indexOf(file._id) > -1">
              <a ng-click="onHistoryClick(file._id)"  data-toggle="tooltip" title="Show History">
                Frühere Versionen
               </a>
            </li>

            <!-- edit. only show when author -->
            <li>
              <a class="" ng-click="onEditClick(file._id)" data-toggle="tooltip" title="File Settings" >
                Editieren
              </a>
            </li>

            <!-- delete -->
            <li>
              <a class="" ng-click="onRemoveClick(file._id)" data-toggle="tooltip" title="File Settings" >
                Löschen
              </a>
            </li>

          </ul>
        </div>

      </td>

    </tr>

  </table>


</div>
