<div ng-repeat="(key, value) in files | groupBy: 'type'" ng-show="groupHasValidFiles(key)">

  <!-- custom section names -->
  <span class="tableheader" ng-show="key === 'opOlat'">OLAT</span>
  <span class="tableheader" ng-show="key === 'opMainzed'">Mainzed Jahresbericht</span>
  <span class="tableheader" ng-show="key === 'prMainzed'">Mainzed Presentation</span>
  <span class="tableheader" ng-show="key === 'prI3mainz'">i3mainz Presentation</span>


  <table class="filegroup">
    <colgroup>
      <col span="1" style="width: 60%;">
      <col span="1" style="width: 15%;">
      <col span="1" style="width: 10%;">
      <col span="1" style="width: 5%;">
      <col span="1" style="width: 10%;">
    </colgroup>
  
    <!-- only show documents of the current user or documents that are not private -->
    <tr ng-repeat="file in value" ng-show="file.author === currentUser || file.private === false">

      <td class="colfilename">
        <a ng-href="#/editor/{{file._id}}">
          {{ file.title }}
        </a>
      </td>
      
      <td>
        {{ getFormattedDate(file.updated_at) }}
      </td>

      <td>
        {{ file.author }}
      </td>

      <td class="colfilestate">
        <i ng-show="file.private" class="fa fa-lock icon-locked" aria-hidden="true"></i>
        <!--<i ng-show="!file.private" class="fa fa-globe" aria-hidden="true"></i>-->
      </td> 
      
      <td> 

        <div class="dropdown pull-right">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
          </button>
          
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">

            <!-- download -->
            <li>
              <a ng-href="#" target="_self" class="" ng-click="onDownloadClick(file._id)" data-toggle="tooltip" title="Download Markdown">
                Download
             </a>
            </li>

            <!-- history -->
            <li>
              <a ng-href="#/history/{{file._id}}" target="_self" class="" data-toggle="tooltip" title="Show History">
                Frühere Versionen
               </a>
            </li>


            <!-- edit -->
            <li>
              <a class="" ng-click="onEditClick(file._id)" data-toggle="tooltip" title="File Settings">
                Editieren
              </a>
            </li>
           
          </ul>
        </div>
      
      </td>

    </tr>

  </table>


</div>
