
<button ng-show="currentFilter['author']" type="button" class="btn btn-default" ng-click="onResetClick()">
  <i class="fa fa-times" aria-hidden="true"></i> author: {{ currentFilter['author'] }}
</button>

<button ng-show="currentFilter['private']" type="button" class="btn btn-default" ng-click="onResetClick()">
  <i class="fa fa-times" aria-hidden="true"></i> private: {{ currentFilter['private'] }}
</button>

<button ng-show="currentFilter['updated_at']" type="button" class="btn btn-default" ng-click="onResetClick()">
  <i class="fa fa-times" aria-hidden="true"></i> date: {{ currentFilter['updated_at'] }}
</button>

      