
<div class="header" ng-show="isActive('/editor/:id') || isActive('/preview')">
  <div class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand nav-link">mdWriter</a>
      </div>

      <div class="collapse navbar-collapse" id="js-navbar-collapse">

        <ul class="nav navbar-nav" ng-init="selectedTab = 'editor'">
          <li ng-class="{'active':selectedTab === 'editor'}">
            <a href="#/editor" class="nav-link" ng-click="selectedTab = 'editor'">Editor</a>
          </li>
          <li ng-class="{'active':selectedTab === 'preview'}">
            <a href="#/preview" class="nav-link" ng-click="selectedTab = 'preview'">Preview</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>