
.cm-markdown-story {
  font-style: italic;
  color: #00cc00;
}

.cm-markdown-definition {
  font-style: italic;
  color: red;
}

.cm-html-comment {
  color: gray;
}

.cm-metatag {
    color: cornflowerblue;
}

.cm-include {
    color: teal;
}
