<form ng-init="getDefinition()">
  <div class="form-group">
    <label for="exampleInputEmail5">Word</label>
    <input type="text" class="form-control" id="exampleInputEmail5" placeholder="Definition" ng-model="definition.word">
  </div>

  <div class="form-group">
    <label for="exampleInputPassword1">URL</label>
    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="URL" ng-model="definition.url">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Author</label>
    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Author" ng-model="definition.author">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Tooltip</label>
    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Definition" ng-model="definition.text">
  </div>
  <button type="submit" class="btn btn-default" ng-click="onSaveClick()">Save</button>
</form>