<h3>User management</h3>
<div class="container" ng-init="getUsers()">

    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Username</th>
                <th>Role</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in users | orderBy: 'username'">
                <td>
                    {{ user.username }}
                    <span ng-if="user.username === currentUser.name">(me)</span>
                </td>

                <!-- role -->
                <td>
                    <select class="form-control" id="userGroupSelect" ng-model="user.group" ng-change="onUserChange(user)" ng-disabled="user.username === currentUser.name && currentUser.group === 'admin'">
                        <option>admin</option>
                        <option>user</option>
                    </select>
                </td>

                <!-- delete -->
                <td>
                    <button type="button" class="btn btn-default" ng-click="onDeleteUserClick(user._id)" ng-disabled="user.username === currentUser.name">delete</button>
                </td>
          </tr>
        </tbody>
    </table>

</div>
