
<!--<navbar></navbar>-->
<div class="header">
  <div class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand nav-link">mdWriter</a>
      </div>

      <div class="collapse navbar-collapse" id="js-navbar-collapse">

        <ul class="nav navbar-nav">
          <li class="active">
            <a href="#/editor" class="nav-link">Editor</a>
          </li>
          <li>
            <a href="#/preview" class="nav-link">Preview</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- title -->
<form>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Title" ng-model="title" ng-change="onTitleChange()">
  </div>
</form>

<div class="panel panel-default" id="editor-panel">
  <div id="codeMirrorEditor" ui-codemirror="{ onLoad : codemirrorLoaded }" ui-codemirror-opts="editorOptions" ng-model=markdown ng-change="onEditorChange()"></div>
</div>

<p>

  <div class="btn-group editor-tools" role="group"> 
    <button class="btn btn-default btn-sm editor-button" ng-click="onFilesClick()">back to files</button>
  </div>
  
  <!-- undo and redo buttons -->
  <div class="btn-group editor-tools" role="group"> 
    <button class="btn btn-default btn-sm editor-button" ng-click="onUndoClick()"><i class="fa fa-undo"></i></button>
    <button class="btn btn-default btn-sm editor-button" ng-click="onRedoClick()"><i class="fa fa-repeat"></i></button>
  </div>
  
  <!-- help button-->
  <div class="btn-group editor-tools" role="group"> 
    <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" target="_blank" class="btn btn-default btn-sm nav-link" role="button"><i class="fa fa-question"></i></a>
  </div>
  
  <!-- image, links & storyscript buttons -->
  <div class="btn-group editor-tools" role="group"> 
    
    <!-- image button -->
    <button class="btn btn-default btn-sm" ng-click="onImageClick()"><i class="fa fa-picture-o"></i></button>

    <!-- link button -->
    <div class="btn-group dropup" role="group">
      <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-link"></i>
      </button>
      <ul class="dropdown-menu">
        
        <li>
          <button class="btn btn-link" ng-click="onLinkClick()">
            <i class="fa fa-link"> Link</i>
          </button>
          <!-- shortcut -->
          <!--
          <span class="glyphicon glyphicon glyphicon-arrow-up" aria-hidden="true"></span> + L
          -->
        </li>
        
        <li><button class="btn btn-link" ng-click="onLabelClick()"><i class="fa fa-tag"> Label</i></button></li>
        <li><button class="btn btn-link" ng-click="onTooltipLinkClick()"><i class="fa fa-commenting-o"> Definition</i></button></li>
      </ul>
    </div>

    <!-- storyscript button -->
    <button class="btn btn-default btn-sm" ng-click="onStoryScriptClick()"><i class="fa fa-book"></i></button>
  </div>

  <div class="btn-group editor-tools" role="group"> 
    <button class="btn btn-success
     btn-sm" ng-click="onSaveClick()"><i class="fa fa-floppy-o"> save</i></button>
  </div>
    
  
</p> 
