
<!-- title -->
<form>
  <div class="form-group" id="editor-title">
    <input type="text" class="form-control" placeholder="Title" ng-model="title" ng-change="onTitleChange()">
  </div>
</form>

<scrollable>
  <div id="codeMirrorEditor" ui-codemirror="{ onLoad : codemirrorLoaded }" ui-codemirror-opts="editorOptions" ng-model="markdown" ng-change="onEditorChange()">
  </div>
</scrollable>

<div id="editor-tools">
  <div class="btn-group" role="group"> 
    <button class="btn btn-default btn-sm" ng-click="onFilesClick()">back to files</button>
  </div>
  
  <!-- undo and redo buttons -->
  <div class="btn-group" role="group"> 
    <button class="btn btn-default btn-sm" data-toggle="tooltip" title="Undo (Ctrl + Z)" ng-click="onUndoClick()"><i class="fa fa-undo"></i></button>
    <button class="btn btn-default btn-sm" ng-click="onRedoClick()" data-toggle="tooltip" title="Redo"><i class="fa fa-repeat"></i></button>
  </div>
  
  <!-- help button-->
  <div class="btn-group" role="group"> 
    <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" target="_blank" class="btn btn-default btn-sm nav-link" role="button" data-toggle="tooltip" title="Markdown Help"><i class="fa fa-question"></i></a>
  </div>
  
  <!-- image, links & storyscript buttons -->
  <div class="btn-group" role="group"> 
    
    <!-- image button -->
    <button class="btn btn-default btn-sm" ng-click="onImageClick()" data-toggle="tooltip" title="Insert Image (Ctrl + I)"><i class="fa fa-picture-o"></i></button>
    <button class="btn btn-default btn-sm" ng-click="onDefinitionClick()">
      <i class="fa fa-commenting-o"></i>
    </button>

    <!-- link button -->
    <div class="btn-group dropup" role="group">
      <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-link"></i>
      </button>
      <ul class="dropdown-menu">
        
        <li>
          <button class="btn btn-link" ng-click="onLinkClick()" data-toggle="tooltip" title="Ctrl + L">
            <i class="fa fa-link"> Link</i>
          </button>
          <!-- shortcut -->
          <!--
          <span class="glyphicon glyphicon glyphicon-arrow-up" aria-hidden="true"></span> + L
          -->
        </li>
        
        
        
      </ul>
    </div>

    <!-- storyscript button -->
    <button class="btn btn-default btn-sm" ng-click="onStoryScriptClick()" data-toggle="tooltip" title="Insert Storytag">
      <i class="fa fa-book"></i>
    </button>
  </div>
  
  <!-- export -->
  <button class="btn btn-default
     btn-sm" ng-click="onExportClick()">
      export
  </button>

  <!-- preview button -->
  <button class="btn btn-default
     btn-sm" ng-click="onPreviewClick()">
      preview
  </button>

  <!-- save button -->
  <div class="btn-group pull-right" role="group"> 
    <button class="btn btn-default
     btn-sm pull-right" ng-click="onSaveClick()" data-toggle="tooltip" title="Save (Ctrl + S)">
      save
    </button>
  </div>
  <span class="save-text" ng-show="showSuccess === true">... saved!</span>
  <span class="save-text" ng-show="showError === true">... someting went wrong!</span>


</div>

