<div ng-init="getArchivedFiles()">
  <span class="tableheader">{{ archivedFiles[0].title }} by {{ archivedFiles[0].author }} - Archivierte Versionen</span>

  <scrollable>
  <!--<span ng-show="archivedFiles.length < 1">No archived versions exist for this file.</span>-->

  <!--archived files found for this document: {{ archivedFiles.length }}-->
  <table class="filegroup fullwidth historytable">
   <colgroup>
      <col span="1" style="width: 25%;">
      <col span="1" style="width: 25%;">
      <col span="1" style="width: 25%;">
      <col span="1" style="width: 25%;">
     
    </colgroup>
 


  <tr class="version" ng-repeat="archivedFile in archivedFiles | orderBy: 'created_at':true" > 
  <!-- ng-if skips first item -->
    
    <!-- formatted date or "current" -->
    <td>{{ archivedFile.created_at | date: "dd.MM.yyyy HH:mm" : 'CEST'}} <span ng-show="$index === 0">(current)</span></td>
    
    <td>
    <span ng-show="!archivedFile.updated_by">changed by owner</span>
    <span ng-show="archivedFile.updated_by === archivedFile.author">changed by {{ archivedFile.updated_by }}</span>
    <span ng-show="archivedFile.updated_by && (archivedFile.updated_by !== archivedFile.author)">
      changed by {{ archivedFile.updated_by }}</span>
    </td>

    <td>
    <!-- open as new file, visible fr everybody -->
    <button type="button" class="btn btn-default bluebutton nomargin" ng-click="onOpenAsNewFileClick(archivedFile)">Als neue Datei öffnen</button>
    </td>

    <td>
    <!-- revert file back to archived version, only visible for owner of file -->
    <button type="button" class="btn btn-default bluebutton nomargin" ng-click="onRevertFileClick(archivedFile)" ng-show="currentUser.name === archivedFile.author && $index > 0">Hierauf zurücksetzen</button>
    </td>

  </tr>
  </table>

  </scrollable>
</div>
