<div ng-init="getArchivedFiles()">
  <h3>{{archivedFiles[0].title}} - Archivierte Versionen</h3>

  <span ng-show="archivedFiles.length < 2">No archived versions exist for this file.</span>

  <!--archived files found for this document: {{ archivedFiles.length }}-->
  <div class="version" ng-repeat="archivedFile in archivedFiles | orderBy: 'created_at':true" ng-if="$index > 0"> 
  <!-- ng-if skips first item -->
    
    <div>{{ archivedFile.created_at.substring(0,10) }} {{ archivedFile.created_at.substring(11,16) }}</div>
    <div>changed by {{ archivedFile.author }}</div>

    <button type="button" class="btn" ng-click="onOpenAsNewFileClick(archivedFile)">Open as new file</button>
    <button type="button" class="btn" ng-click="onRevertFileClick(archivedFile)">Revert file back to this version</button>
  </div>
</div>
<a ng-href="#/files" class="home">back to files</a>