<div class="col-md-3" ng-show="!showSignup">
  <form>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Benutzername" ng-model="username">
    </div>
    <div class="form-group">
      <input type="password" class="form-control" placeholder="Passwort" ng-model="password">
    </div>

    <!-- login button -->
    <button id="login-button" type="button" class="btn btn-default" ng-click="onLoginSubmit()" ng-disabled="!username || !password || validating">Anmelden</button>

    oder
    <!-- signup button -->
    <button type="button" class="btn btn-default btn-sm" ng-click="showSignup = true; username = ''; password=''">Registrieren</button>

    <span ng-show="showError" class="text-danger" ng-bind="showError"></span>
    <span ng-show="showSuccess" class="text-success">Success!</span>

  </form>
</div>

<div class="col-md-3" ng-show="showSignup">
  <form>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Benutzername" ng-model="username">
    </div>
    <div class="form-group">
      <input type="password" class="form-control" placeholder="Passwort" ng-model="password">
    </div>
    <div class="form-group">
      <input type="password" class="form-control" placeholder="Passwort bestätigen" ng-model="passwordConfirm">
    </div>
    <button id="signup-button" type="button" class="btn btn-default" ng-click="onSignupSubmit()" ng-disabled="!username || !password || validating">Registrieren</button>
    <span ng-show="showError" class="text-danger" ng-bind="showError"></span>
    <span ng-show="showSuccess" class="text-success">Success!</span>
  </form>
  <button type="button" class="btn btn-default btn-sm" ng-click="showSignup = false">back</button>
</div>
