
<div class="row">
  <div class="col-lg-9">
    <div id="title-placeholder"></div>
    
    <scrollable>
      <!-- OLAT -->
      <div ng-bind-html="html" ng-show="choice === 'OLAT'" id="olat-content"></div>

      <!-- Bootstrap Layout -->
      <div ng-bind-html="html" ng-show="choice === 'Bootstrap'" id="bootstrap-content"></div>

      <!-- raw HTML -->
      <div ng-bind="html" ng-show="choice === 'Raw HTML'"></div>
    </scrollable>


    <div id="editor-tools">

      <!-- preview button -->
      <button class="btn btn-default
        btn-sm" ng-click="onEditorClick()">
        back to editor
      </button>

      <!-- layout selector. currently disabled. gets set based on file type -->
      <!--
      <select class="btn btn-default btn-mini" ng-model="choice" data-toggle="tooltip" title="Select Layout">
        <option>Bootstrap</option>
        <option>OLAT</option>
        <option>Raw HTML</option>
      </select>-->

      <!--<button ng-show="choice === 'OLAT'" ng-disabled="!olatDownloadEnabled" class="btn btn-default
       btn-sm" ng-click="onOlatClick()" data-toggle="tooltip" title="Export as HTML">
        <i class="fa fa-share-square-o"></i>
      </button>-->

      <!-- pdf downlaod -->
      <!--<button ng-show="choice === 'Bootstrap'" class="btn btn-default
       btn-sm" ng-click="onPdfClick('bootstrap-content')" data-toggle="tooltip" title="Export as PDF">
        <i class="fa fa-file-pdf-o"></i>
      </button>-->
    
    </div>

  </div><!-- col-lg-9 --> 
</div><!-- row -->
