<div class="header">
  <div class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand nav-link">mdWriter</a>
      </div>

      <div class="collapse navbar-collapse" id="js-navbar-collapse">

        <ul class="nav navbar-nav">
          <li><a ng-href="#/editor" class="nav-link">Editor</a></li>
          <li class="active"><a ng-href="#/preview" class="nav-link">Preview</a></li>
          <!--<li><a ng-href="#/html" class="nav-link">HTML</a></li>-->
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="form-group col-sm-3 " ng-init="choice='OLAT'">
    <select class="form-control" ng-model="choice">
      <!--<option value="" selected disabled>Select template</option>-->
      <option>OLAT</option>
      <option>Raw HTML</option>
    </select>
  </div>

  <!-- olat export -->
<button ng-show="choice === 'OLAT'" class="btn btn-default btn-md" ng-click="onOlatClick()">

<i class="fa fa-share-square-o"> export</i></button>

<!--<button ng-show="choice === 'Raw HTML'" class="btn btn-default btn-md" ng-click="onOlatExportClick()"><i class="fa fa-share-square-o"> export</i></button>-->

  <!-- html export -->
</div>

<!-- OLAT -->
<div ng-show="choice === 'OLAT'">
  <div class="panel panel-default" style="padding: 10px;">
    <div id="preview" ng-bind-html=html></div>
    <div id="links" ng-bind-html=tableOfLinks></div>
  </div>
</div>

<!-- raw HTML -->
<div ng-show="choice === 'Raw HTML'">
  <div class="panel panel-default" id="preview" ng-bind=html style="padding: 10px;"></div>
</div>