
<div class="row">
  <div class="form-group col-sm-3" ng-init="choice='OLAT'">
    <select class="form-control" ng-model="choice">
      <!--<option value="" selected disabled>Select template</option>-->
      <option>OLAT</option>
      <option>Raw HTML</option>
    </select>
  </div>
</div>

<!-- OLAT -->

<!--<div class="panel panel-default" style="padding-left: 10px; padding-top: 10px;" ng-show="choice === 'OLAT'">-->
<div class="nano preview">
  <!-- <div class="preview nano-content" ng-bind-html=html ng-show="choice === 'OLAT'">-->
  <div class="nano-content" ng-bind-html="html" ng-show="choice === 'OLAT'"></div>
</div>

<!-- raw HTML -->
<div ng-show="choice === 'Raw HTML'" class="panel panel-default">
  <div class="preview" ng-bind=html style="padding-left: 10px;"></div>
</div>

<!-- preview button -->
<button class="btn btn-primary
   btn-sm" ng-click="onEditorClick()">
  <i class="fa fa-edit"> editor</i>
</button>

<!-- save button -->
<div class="btn-group editor-tools" role="group"> 
  <button ng-show="choice === 'OLAT'" class="btn btn-default
   btn-sm" ng-click="onOlatClick()">
    <i class="fa fa-share-square-o"> export</i>
  </button>
</div>