		@font-face {
		    font-family: 'mario';
		    src: url('mario/Mario6-Regular.eot');
		    src: url('mario/Mario6-Regular.eot?#iefix') format('embedded-opentype'),
		         url('mario/Mario6-Regular.woff2') format('woff2'),
		         url('mario/Mario6-Regular.woff') format('woff');
		      
		    font-weight: normal;
		    font-style: normal;
		}

		


		* 		{ 	margin: 0; padding: 0; font-family: 'mario', Arial, sans-serif; list-style: none; text-decoration: none; text-rendering: optimizeLegibility; }
		body 	{ 	height: 100%; width: 100%; display: block; position: absolute; }
		p  		{ 	font-size: 21px; line-height: 29px; letter-spacing: 0.02em;  margin: 0 30%; float: left; clear: left; }
		h1 		{ 	font-weight: normal; padding: 20px 30% 8px 30%;
		    		width: calc(100% - 60%); margin-top: 128px; font-size: 75px;  }
		h2 		{ 	font-size: 40px; line-height: 60px; margin-bottom: 0; padding-top: 60px; 
					margin-top: 30px; font-weight: normal; margin-left: 30%; }
		h3 		{ 	font-size: 15px; line-height: 23px; margin: 0 auto 15px auto; font-weight: normal; 
					padding-top: 60px; width: 80%; margin-left: 30%; }

		h1, h2, h3, h4 {float: left; clear: left;}
		a 		{ 	font-style: none; color: black; border-bottom: 1px solid black; padding-bottom: 0; }
		img 	{ 	height: 200px; cursor: pointer; }
		figcaption 	{	display: none;	}
		figure 	{	float: left; }
		iframe {	float: left; }

		.citation {float: left; clear: both; margin: 40px 0;}
		.citation p { font-size: 40px; line-height: 40px; letter-spacing: 0;}

		#titletextbg {	background: #2e2e2e; width: 100%; height: 100%;}
		.title {font-size: 90px; line-height: 90px; font-family: "mainzed display type", sans-serif; 
						font-weight: normal; width: 90%; margin-left: 2%; letter-spacing: 0;  position: absolute;
						top: 30%; left: 0; width: auto; background: none;}
		.titletext {	color: white;	}
		.shortcut {background: yellow;}
		#scrollmarker {position: absolute; top: 10px; width: 10px; height: 10px;}


		/* listen im Text */
		#read ul {margin: 20px 0; float: left; clear: left; margin-left: 30%;}
		#read li {font-size: 21px; margin-left: 17px;}
		#read li:before {    
			content: "--";
			margin-left: -16px;
			margin-right: 5px;
		}

		

		#ressourceswrapper 	{	position: fixed; height: 100%; top: 0; left: 0; }
		#ressources 		{ 	float: left; width: 2000px; background: white;   
								height: 100%; display: block; transition: 0.4s; border-right: 1px solid black; }
		#ressources img 	{ 	height: 80%; float: right; width: auto; clear: both; margin-right: 20px; }
		#ressourcestext 	{ 	float: right; display: block; margin-top: 60px; width: 250px; }
		#ressources p 		{	color: white; position: absolute; right: 20px; bottom: 20px; text-align: right; font-size: 14px;  }

		#imagecontainer 	{	position: absolute; height: 90%; right: 1px; width: 1500px; background-size: contain !important;
    							background-repeat: no-repeat !important;
   			 					background-position: right !important; display: none; }
		

		/* start */
		.start				{ 	position: absolute; bottom: 20px; left: 30px; }
		#titlepicture 		{ 	width: 100%; height: 100%; display: block; background: url("../bierdeckel2.jpg"); 
								background-size: cover; top: 0; z-index: -1; }
		.coverdescription 	{ 	position: absolute; text-align: right; bottom: 20px; right: 20px; font-size: 12px;}
		

		
		/*Navigation*/
		#nav {	float: right; display: none; margin-top: 40px; overflow: auto; width: 200px;  }
		#nav li ul {margin-left:30px;}
		#nav li {margin-top: 20px;}
		#nav ul li {margin-top: 0;}
		#nav a {border: 0;}



		/*Nav Icon*/
		#navicon { position: fixed; top: 22px; left: 20px; width: 15px; height: 15px; cursor: pointer; display: block;}
		.left {float: left;}



		/*Close Icon*/
		#closeicon {position: absolute; right: 20px; top: 15px; cursor: pointer; display: none; z-index: 99999;}
		

			
		#read, #footnotes {width: 100%; padding-bottom: 500px; margin: 0 auto; overflow: hidden; }
		#footnotes, #imprint { float: left; clear: left;}
		

		/* footnotes */
		#footnotes img {width: 200px;}
		



		.current a {color: red;}
		
		.active  {color: blue;}
		.firsth2 {margin-top: 0;}
		/*.minimalressource {width: 70px; background: white; opacity: 1;}*/
		.white {color: white;}
		

		


		/* Animation Classes */
		.showdefinitions { 
			margin-left: -1700px;
			-webkit-transition: width 2s; /* Safari */
    		transition: width 2s;
		 }

		.minified {
			margin-left: -1940px;
			-webkit-transition: width 1s; /* Safari */
    		transition: width 1s;
		}
		
		.showpictures { 
			margin-left: -500px;
		   	background: black !important; 
		   	-webkit-transition: width 1s; /* Safari */
    		transition: width 1s;
		}

		
		.fadeout {
			margin-left: -1200px;
			-webkit-transition: width 1s; /* Safari */
    		transition: width 1s;
		}

		.startanimation {
			margin-left: -1050px;
			-webkit-transition: width 1s; /* Safari */
    		transition: width 1s;
		}




		/* small screens */
		@media screen and (max-width: 1200px) {

		
		/* Animation Classes */
		.showpictures { margin-left: -1100px; background: black !important; }
		.startanimation { margin-left: -1500px;}

		#ressources img 	{ 	width: 800px;  }
		#imagecontainer {position: absolute;  width: 900px;  }


		}

	



		/* mobile */
		@media screen and (max-width: 800px) {
			* 	{ 	cursor: pointer; letter-spacing: 0.02em; }
			
			h1 	{ 	padding: 30px 5% 10px 5%; width: calc(100% - 10%); margin-top: 128px; font-size: 50px; letter-spacing: 0;  }
			h2 	{	font-size: 25px; line-height: 32px; letter-spacing: 0; width: 90%; margin-left: 5%; margin-right: auto;	}
			h3 	{	width: 90%; margin-left: 5%; padding-top: 30px; font-size: 10px; margin-bottom: 5px;	}
			p  	{	font-size: 18px; line-height: 24px; width: 90%; margin-left: 5%;	}
			img {	width: 100%; height: auto;	}
			figcaption 	{	display: block; margin-left: 5%; margin-bottom: 100px;	}
			iframe {	width: 100%;	}

			.title {font-size: 40px; line-height: 40px; top: auto; bottom: 100px;}

			#titlepicture {background-position: -360px;}

			#read ul {margin-top: 20px; margin-left: 5%;}
			#read li {font-size: 18px; }
			#read li:before {    
				
    			margin-left: -16px;
   				 margin-right: 5px;
   			}

   			#ressources a {color: white;}

						
			#ressourceswrapper 	{	position: fixed; width: 100%; top: 0; left: auto; height: auto; }
			#ressources 		{ 	float: none; position: relative; top: 0; height: 800px; border-right: 0;
									width: 100%; border-bottom: 1px solid white; display: block; transition: 0.3s; 
									background: #2e2e2e; color: white; }
			
			

			#nav, #ressourcestext {	position: fixed; -webkit-overflow-scrolling: touch; top: 0; float: none; left: 5%; overflow: auto; width: 90%; margin-bottom: 20px; margin-top: 0; padding-top: 20px; }
			#nav.activeressource {height: 400px;}
			#ressourcestext.activeressource {height: 250px; margin-top: 0; padding-top: 20px;}
			#navicon {margin: 10px 10px; left: 8px; top: 3px; z-index: 9999;}
			#closeicon {float: none; position: fixed; top: 0; right: 0;}
			#ressources img {width: 100%;}



			/* Animation Classes */
			.showdefinitionsm { 
				margin-top: -510px;
				-webkit-transition: width 0.2s; /* Safari */
	    		transition: width 0.2s;
			 }

			.showtableofcontent {
				margin-top: -350px;
				-webkit-transition: width 0.2s; /* Safari */
	    		transition: width 0.2s;
			}

			.minifiedm {
				margin-top: -750px;
				-webkit-transition: width 0.2s; /* Safari */
	    		transition: width 0.2s;
			}
			
			.showpicturesm { 
				margin-top: 0;
			   	background: black;
			   	-webkit-transition: width 0.2s; /* Safari */
	    		transition: width 0.2s;
			}

			
			.fadeoutm {
				margin-top: -800px;
				-webkit-transition: width 0.2s; /* Safari */
	    		transition: width 0.2s;
			}

			.startanimationm {
				margin-top: -500px;
				-webkit-transition: width 1s; /* Safari */
	    		transition: width 1s;
			}


			
			
		}










		/*

		------------ Labeling System Plugin ----------------

		.col {float: left; width: auto;  min-height: 500px;  }
		.col div {height: 40px;}
		.linevertical {float: left; height: 100%; display: block; width: 1px; background: black; }
		.first {height: 50%; margin-top: 20px;}
		.last {height: 21px; margin-top: 0px;}
		.linehorizontal {float: left; height: 1px; width: 100px; background: black; margin-top: 20px;}
		.innertext {margin-top: 10px; float: left; margin-left: 10px;}
		.right {float: right; margin-left: 10px;}
		#vocab, #label {}
		.shift {margin-top: 60px;}
		.wrapper {display: inline-block; width: auto; margin-top: 50px;}
		.wrapper2 {text-align: center; display: none; position: fixed; top: 0;}
		p.label {text-align: left; margin-left: 10px;}
		.bg {background: #f2f2f2; height: 100%; min-height: 300px;  }
		.bigbg {width: 100%;}
		.leftbg {width: calc(100% - 51px); float: left;}
		.rightbg {width: calc(0% + 50px); float: right;}
		.content {float: left; margin-top: -280px;}
		#concepts .content {padding-right: 50px;}
		#vocab .content {padding-left: 50px;}
		.label {color: gray; font-weight: bold; text-decoration: none !important; margin-bottom: 20px;}
		#footer {color: gray; font-family: "Arimo"; font-size: 12px; letter-spacing: 0.05em; width: 300px; position: fixed; right: 50%; bottom: 200px; text-align: center; margin-right: -150px;}
		
		*/
		

	