@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?t662nn');
    src:    url('fonts/icomoon.eot?t662nn#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?t662nn') format('truetype'),
        url('fonts/icomoon.woff?t662nn') format('woff'),
        url('fonts/icomoon.svg?t662nn#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-size: 25px;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-toc:before {
    content: "\e900";
}
.icon-close:before {
    content: "\e901";
}

