@font-face {
    font-family: 'mainzeddisplay';
    src: url('fonts/mainzeddisplaytype-Regular.eot');
    src: url('fonts/mainzeddisplaytype-Regular?#iefix') format('embedded-opentype'),
         url('fonts/mainzeddisplaytype-Regular.woff2') format('woff2'),
         url('fonts/mainzeddisplaytype-Regular.woff') format('woff');

    font-weight: normal;
    font-style: normal;
}


* 		{ 	margin: 0; padding: 0;  font-family: 'roboto', Arial, sans-serif; letter-spacing: 0.02em;
			list-style: none; text-decoration: none;  }
html 	{	background: white;	}
body 	{ 	height: 100%; width: 100%; display: block; position: absolute; }
p  		{ 	font-size: 19px; line-height: 28px; margin: 10px 35%; float: left; clear: left;
			overflow-wrap: break-word; word-wrap: break-word; -webkit-hyphens: auto; -ms-hyphens: auto; -moz-hyphens: auto; hyphens: auto;
}
h1 		{ 	margin: 70px 35% 10px 35%; font-weight: normal;
    		width: calc(100% - 60%); font-size: 60px; letter-spacing: 0;
    		overflow-wrap: break-word; word-wrap: break-word; -webkit-hyphens: auto; -ms-hyphens: auto; -moz-hyphens: auto; hyphens: auto;  }
h2 		{ 	font-size: 26px; line-height: 32px; margin: 75px 35% 30px 35%; letter-spacing: 0; }
h3 		{ 	font-size: 19px; line-height: 28px; margin: 20px 35% -5px 35%;      }

h4		{font-size: 15px; line-height: 20px; margin-bottom: 20px;}
h1, h2, h3, h4 {	float: left; clear: left; padding-top: 30px;	}
a 		{ 	font-style: none; color: blue; padding-bottom: 0; }
a img 	{	height: 20px;	}
figure img 	{ 	height: 200px; cursor: pointer; }
figcaption 	{	display: none; font-size: 16px; line-height: 22px; }
figure 	{	float: left; margin-left: 35%; clear: left;  }
iframe 	{	float: left; margin-left: 35%; }



.citation 	{ 	margin: 40px 0; border-top: 1px solid #e7e7e7; display: inline-block;
				border-bottom: 1px solid #e7e7e7; margin: 60px 25%; padding-top: 20px; padding-bottom: 120px;}
.citation p { 	font-size: 35px; line-height: 45px; letter-spacing: 0;
				margin: 0; font-style: italic;
				overflow-wrap: break-word; word-wrap: break-word; -webkit-hyphens: auto; -ms-hyphens: auto; -moz-hyphens: auto; hyphens: auto; }
.citation .author {
	font-size: 16px; line-height: 22px; float: left;
	margin-top: 20px; padding-right: 20px; width: calc(100% - 20px);
	overflow-wrap: break-word; word-wrap: break-word;
	-webkit-hyphens: auto; -ms-hyphens: auto; -moz-hyphens: auto; hyphens: auto;
}
#titletextbg {	background: white; width: 100%; height: 100%;}
.title {		font-size: 80px; line-height: 80px; font-family: "mainzeddisplay", sans-serif;
				font-weight: normal; width: 90%; margin: 0 5%; letter-spacing: 0;  position: absolute;
				top: 30%; left: 0; width: auto; background: none;
				overflow-wrap: none; word-wrap: none; -webkit-hyphens: none; -ms-hyphens: none; -moz-hyphens: none; hyphens: none;
				text-transform: lowercase;
			}

.shortcut {background: white;}
.shortcut .definition {display: none;}

#scrollmarker {position: absolute; top: 240px; width: 100px; height: 10px; background: transparent;}
.tooltip {background: white; padding: 10px 10px 50px 10px; position:absolute; font-size: 15px; line-height: 22px;}

/* listen im Text */
.readnoshift {padding-left: 0;}
#read ul {margin: 20px 0; float: left; clear: left; margin: 20px 35%;}
#read li {	font-size: 19px; margin-left: 23px; margin-bottom: 10px; line-height: 28px;
			overflow-wrap: break-word; word-wrap: break-word; -webkit-hyphens: auto; -ms-hyphens: auto; -moz-hyphens: auto; hyphens: auto;
}
#read li:before {
	content: "—";
	margin-left: -26px;
	margin-right: 12px;
}



#ressourceswrapper 	{	position: fixed; height: 100%; top: 0; left: 0; }
#ressources 		{ 	float: left; width: 2000px; background: white; color: black;
						height: 100%; display: block; transition: 0.4s; border-right: 1px solid #e7e7e7;  }
#ressources img 	{ 	height: 80%; float: right; width: auto; clear: both; margin-right: 20px; }
#ressourcestext 	{ 	float: right; display: block; margin: 40px 20px 0 0; width: 258px; }
#ressourcestext p 	{	margin: 0; font-size: 15px; line-height: 20px; padding-bottom: 20px; }
.figcaption 		{	color: white; position: absolute; right: 20px; bottom: 30px;
						text-align: right; font-size: 15px; margin-right: 0;
						display: block; overflow: hidden; line-height: 20px; z-index: 999999;  }

#imagecontainer 	{	position: absolute; height: 90%; right: 1px; width: 1500px; background-size: contain !important;
						background-repeat: no-repeat !important; background-position: right !important; display: none; }

.picturegroup 		{	margin: 200px 20%; float: left; }
.picturegroup figure 	{	float: left; clear: none; margin-left: 5px; }

#ressourcestext .definition { margin-top: 10px; background: red}
#ressourcestext .definition-title { font-weight: bold; display: block; }
#ressourcestext .definition-author, #ressourcestext .definition-website { font-size: 15px; line-height: 20px; display: block; }
#ressourcestext .definition-website {padding-bottom: 50px;}
#ressourcestext .definition-author::before {
    content: "Autor: ";
}


.picture-metadata, .tooltip .picture-metadata {float: left; clear: left; width: 100%; margin-top: 15px;}
.picture-metadata span, .tooltip .picture-metadata span {float: left; margin-right: 20px; }
figcaption .author, figcaption .license  {font-size: 11px; line-height: 12px;  }
figcaption .license {padding-bottom: 50px; }

#ressources .picture-metadata {position: absolute; margin-top: 0; bottom: 10px; right: 0; font-size: 11px; text-align: right; color: white;}
#ressources .picture-metadata span {float: right; }


/* start */
.start				{ 	position: absolute; bottom: 100px; left: 10%; color: black; font-size: 20px;
						font-style: italic; }
#titlepicture 		{ 	width: 100%; height: 100%; display: block; background: url("../bilder/zwei16atmosphaere.jpg");
						background-size: cover; top: 0; z-index: -1; }
.coverdescription 	{ 	position: absolute; text-align: right; bottom: 20px; right: 20px; line-height: 14px; font-size: 12px; margin: 0; color: white;}

/*Navigation*/
#nav 			{	float: right; display: none; padding-top: 40px; overflow: auto; width: 258px; margin-right: 0; padding-right: 20px;  }
#nav li ul 		{	margin-left: 30px;	}
#nav li 		{	margin-bottom: 30px;	}
#nav ul li 		{	margin: 7px 0;	}
#nav li a 	{	border: 0; color: black; font-size: 15px; line-height: 21px;	}
#nav ul li a 	{	border: 0; color: black; font-size: 15px; line-height: 21px;	}

#nav, #ressourcestext {	-webkit-overflow-scrolling: touch;
						overflow-y: auto; height: calc(100% - 40px);  }

/*Nav Icon*/
#navicon 		{ 	position: fixed; top: 17px; left: 20px; width: 15px; height: 15px; cursor: pointer; display: block;	}
.left 			{	float: left;	}

/*Close Icon*/
#closeicon 		{	position: absolute; right: 20px; top: 15px; cursor: pointer; display: none; z-index: 99999;	}

/* Shortcut Icon */
.shortcut:after { 	content: "\e900"; font-family: "icomoon" !important; font-style: normal; font-size: 15px;
    				font-weight: normal; margin-left: 2px; }


#read, #footnotes {width: 100%; padding-bottom: 200px; margin: 0 auto; overflow: hidden; }
#footnotes, #imprint { float: left; clear: left;}

#imprint {margin: 100px 35%; padding-bottom: 100px;}
#imprint p, address, #imprint span {font-size: 15px; line-height: 20px; margin: 0; float: left; clear: both; }
#imprint h3 {margin: 0; font-size: 15px; margin-bottom: 20px;}
#imprint h4 {margin: 0;}
#imprint div {float: left; clear: left; font-size: 15px; line-height: 20px;}
.persons {margin-top: 20px;}
#footnotes {margin: 0 35%; width: auto; word-break: break-all; display: none;}
#footnotes div {margin-bottom: 20px; display: inline-block;}
#footnotes div p {margin: 0; font-size: 15px; line-height: 20px;}

/* footnotes */
#footnotes img {width: 200px;}

.current a {color: red;}



/*.minimalressource {width: 70px; background: white; opacity: 1;}*/
.white {color: white;}






/* Animation Classes */
.showdefinitions {
	margin-left: -1700px;
	-webkit-transition: width 2s; /* Safari */
	transition: width 2s;
 }

.minified {
	margin-left: -1935px;
	-webkit-transition: width 1s; /* Safari */
	transition: width 1s;
}

.showpictures {
	margin-left: -500px;
   	background: black !important;
   	-webkit-transition: width 1s; /* Safari */
	transition: width 1s;
}


.fadeout {
	margin-left: -1200px;
	-webkit-transition: width 1s; /* Safari */
	transition: width 1s;
}

.startanimation {
	margin-left: -1550px;
	-webkit-transition: width 1s; /* Safari */
	transition: width 1s;
}



/* laptop */
@media screen and (max-width: 1600px) {

	.showpictures {
		margin-left: -800px;
	   	background: black !important;
	   	-webkit-transition: width 1s; /* Safari */
		transition: width 1s;
	}

}




/* small screens */
@media screen and (max-height: 900px) {

	/* Animation Classes */
	.showpictures { margin-left: -1100px; background: black !important; }
	.picturegroup { margin: 200px 15%;}
	.startanimation { margin-left: -1600px;}
	#imprint {margin: 100px 25%;}
	#ressources img 	{ 	width: 800px;  }
	#imagecontainer		{	position: absolute;  width: 900px;  }
	#nav, #ressourcestext {	-webkit-overflow-scrolling: touch;
							overflow-y: auto; height: calc(100% - 40px);  }
	#read ul 			{	margin: 20px 25%;	}

	.title 	{	font-size: 60px; line-height: 60px; top: 30%; left: 0; }
	#footnotes {margin: 0 25%; word-break: break-all;}

	p  		{ 	font-size: 19px; line-height: 28px; margin: 10px 25%;  }
	h1 		{ 	margin: 90px 25% 10px 25%; font-size: 60px;  }
	h2 		{ 	font-size: 25px; line-height: 31px;  margin: 95px 25% 30px 25%; }
	h3 		{ 	 margin: 20px 25% 8px 25%;    }
	iframe { margin-left: 25%; }

	figure {	margin-left: 25%; }




	.figcaption {margin-left: 20px;}



	/* animation classes
	.shiftread {
		float: right;
		width: calc(100% - 100px) !important;
		-webkit-transition: width 0.5s;
		transition: width 0.5s;
	}

	*/

	.shiftread p { margin-left: 32%; margin-right: 18%; }
	.shiftread h1 { margin-left: 32%; margin-right: 18%; }
	.shiftread h2 { margin-left: 32%; margin-right: 18%; }
	.shiftread h3 { margin-left: 32%; margin-right: 18%; }
	#read.shiftread ul { margin-left: 32%; margin-right: 18%; }
	.shiftread h3 { margin-left: 32%; margin-right: 18%; }
	.shiftread .citation { margin-left: 32%; margin-right: 18%; }
	.shiftread figure { margin-left: 32%;  }
	.shiftread iframe { margin-left: 32%;  }
	.citation p {margin-left: 0; margin-right: 0;}

	.story p { background: blue;}

	.shiftread .picturegroup { margin: 200px 0 200px 30%;}
	.shiftread .picturegroup figure {margin-left: 5px; margin-right: 0;}

	.showpictures {
		margin-left: -1000px;
	   	background: black !important;
	   	-webkit-transition: width 1s; /* Safari */
		transition: width 1s;
	}
}





/* tablet portrait */
@media screen and (max-width: 800px) {
	* 	{ 	cursor: pointer; letter-spacing: 0.02em; }

	h1 	{ 	margin: 40px 5% 0 5%; width: calc(100% - 10%); font-size: 45px; line-height: 50px; letter-spacing: 0;  }
	h2 	{	margin: 30px 5%; font-size: 29px; line-height: 34px; letter-spacing: 0; width: 90%; }
	h3 	{	margin: 3px 5%; padding-top: 25px; font-size: 19px; line-height: 27px; 	}

	/* navigation zone */
	h1,h2,h3 {padding-top: 70px;}

	p  	{	font-size: 19px; line-height: 27px; width: 90%; margin: 20px 5%;	}

	figure img {	width: 100%; height: auto;	}
	figure { margin-left: 0; }
	.picturegroup figure {margin-left: 0;}
	figcaption 	{	display: block; margin: 5px 5%; margin-bottom: 100px;	}
	iframe {	width: 100%; margin-left: 0;	}

	.title {font-size: 50px; line-height: 50px; top: auto; bottom: 70px; text-rendering: optimizeLegibility; }
	.start				{ 	position: absolute; bottom: 20px; left: 5%; color: black; font-size: 15px;
						font-style: italic; }


	.citation {margin: 50px 5%; padding-bottom: 60px;}
	.citation p {margin: 0; font-size: 30px; line-height: 38px; letter-spacing: 0.02em;}

	.picturegroup 		{	margin: 200px 0 100px 0; float: left; }

	#read ul {margin: 20px 5%;}
	#read li {font-size: 19px; line-height: 27px; }
	#read li:before {   margin-left: -24px; margin-right: 10px; }

	#nav a {color: black; font-size: 16px; line-height: 22px;}
	#nav ul li 		{	margin: 0;	}
	#nav li a 	{	border: 0; color: black; font-weight: bold; line-height: 21px; margin-bottom: 5px; display: block;	}
	#nav ul li a 	{	border: 0; color: black; font-weight: normal; font-size: 15px; line-height: 21px; margin-bottom: 0;	}

	#ressourcestext {font-size: 16px; line-height: 22px;}


	#imprint { margin: 100px 5%; }
	.tooltip {display: none;}


	#ressourceswrapper 	{	position: fixed; width: 100%; top: 0; left: auto; height: auto; }
	#ressources 		{ 	float: none; position: relative; top: 0; height: 800px; border-right: 0; background: white;
							width: 100%; border-bottom: 1px solid #e7e7e7; display: block; transition: 0.3s;
							overflow: hidden; }

	#nav, #ressourcestext {	float: left; margin-top: 450px; -webkit-overflow-scrolling: touch;  height: 400px;
							overflow-y: auto; width: 90%; margin-bottom: 0; padding-top: 20px; margin-left: 5%; }

	#nav.activeressource {height: 330px;}
	#ressourcestext.activeressource {height: 270px; margin-top: 510px; padding-top: 20px;}
	#navicon {margin: 10px 0; left: 4.7%; top: 3px; z-index: 9999;}
	#closeicon {float: none; position: fixed; top: 3px; right: 5%; margin: 10px 0;}
	#ressources img {width: 100%;}


	#gradient {
		height: 50px; width: 100%;
    	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e5e5e5+0,e5e5e5+72,e5e5e5+100&0+0,1+72,1+100 */
		background: -moz-linear-gradient(top,  rgba(229,229,229,0) 0%, rgba(229,229,229,1) 80%, rgba(229,229,229,1) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top,  rgba(229,229,229,0) 0%,rgba(229,229,229,1) 80%,rgba(229,229,229,1) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom,  rgba(229,229,229,0) 0%,rgba(229,229,229,1) 80%,rgba(229,229,229,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00e5e5e5', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */

    	position: absolute; bottom: 0;
    	pointer-events: none; display: none; z-index: 99999999;
	}





	/* Animation Classes */
	.showdefinitionsm {
		margin-top: -510px;
		-webkit-transition: width 0.2s; /* Safari */
		transition: width 0.2s;
		background: #e5e5e5 !important;
	 }

	.showtableofcontent {
		margin-top: -450px;
		-webkit-transition: width 0.2s; /* Safari */
		transition: width 0.2s;
		background: #e5e5e5 !important;
	}

	.minifiedm {
		margin-top: -750px;
		-webkit-transition: width 0.2s; /* Safari */
		transition: width 0.2s;
	}

	.showpicturesm {
		margin-top: 0;
	   	background: black;
	   	-webkit-transition: width 0.2s; /* Safari */
		transition: width 0.2s;
	}


	.fadeoutm {
		margin-top: -800px;
		-webkit-transition: width 0.2s; /* Safari */
		transition: width 0.2s;
	}

	.startanimationm {
		margin-top: -560px;
		-webkit-transition: width 1s; /* Safari */
		transition: width 1s;
	}




}

/* smartphone portrait */
@media screen and (max-width: 600px) {


	h1 	{ 	font-size: 35px; line-height: 40px;  }
	h2 	{	font-size: 25px; line-height: 30px;  }
	h3 	{	font-size: 16px; line-height: 22px;  }

	.shortcut:after { 	 font-size: 12px;	}

	p  	{	font-size: 16px; line-height: 22px; margin: 10px 5%; 	}

	#read li {font-size: 16px; line-height: 22px; }
	#nav {width: 85%;}

	#ressourcestext {width: 90%;}

	#nav ul li 		{	margin: 7px 0;	}


	.title {font-size: 32px; line-height: 30px; bottom: 50px;}
	#titlepicture  {background-position-x: -100px;}

	.citation p {font-size: 23px; line-height: 28px;}

	.startanimationm {
		margin-top: -630px;
		-webkit-transition: width 1s; /* Safari */
		transition: width 1s;
	}


}

.picturegroupex {margin-top: 20px;}
.h1ex {margin-bottom: 30px;}
a.active  {text-transform: uppercase; text-decoration: underline;}









